/**
 * @author: alexandercds
 * @description: 
 * @date: 08/septiembre/2021 
**/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  font: {
    family: 'Josefin Sans';
    size: 16px;
  };
} 

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.col-content {
  height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: {
    left: 200px; 
    right: 200px;
  }; 
}

.left {
  background-image: url('../svgs/bg-pattern-desktop.svg');
  background-repeat: no-repeat;
}

.col {
  height: 810px;
  display: flex;
  align-items: center; 
}
 
 